body{
  background: url("https://images.unsplash.com/photo-1457964121122-e7f8269faed3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6144b6ca34cafb891ab172c17a462fe1&auto=format&fit=crop&w=1950&q=80");
}

.simonBoard{
  margin:0 auto;
  text-align:center;
}

.simonBoard{
  margin:0 auto;
  margin-top:50px;
  width:600px;
  height:600px;
  border:solid 24px;
  background-color:#333;
  border-color:#333;
  border-radius:100%;
}
.pad {
  margin:0;
  position:relative;
  float:left;
  width:294px;
  height: 294px;
}

.green{
  background-color:#00a74a;
  border:solid 3px #333;
  border-radius:300px 0 0 0;
}
.red{
  border:solid 3px #333;
  background-color: #9f0f17;
  border-radius:0 300px 0 0;
}

.yellow{
  border:solid 3px #333;
  background-color:#cca707;
  border-radius:0 0 0 300px;
}
.blue{
  border:solid 3px #333;
  background-color:#094a8f;
  border-radius:0 0 300px 0;
}

.yellow.light{
  background-color : #fed93f;
}

.blue.light{
  background-color : #1c8cff;
}

.red.light{
  background-color : #ff4c4c;
}

.green.light{
  background-color : #13ff7c;
}

.controls{
  width:245px;
  height:245px;
  background-color:white;
  border:solid 10px black;
  border-radius:150px;
  position:absolute;
  margin-top:167.5px;
  margin-left:167.5px;
  z-index:10;
}

.title{
  margin-top:30px;
  font-size:45px;
  font-weight:bold;
  margin-bottom:10px;
}

.inline{
  display: inline-block;
}

.display{
  width:60px;
  position:relative;
  text-align:center;
}
.count{
  font-family: 'VT323', monospace;
  padding:0px;
  font-size:2em;
  width:50px;
  background-color: #32050C;
  position:relative;
  border : 4px solid #222;
  border-radius:10px;
  margin:auto;
  color:#dc0d29;
}



.label{
  color : #222;
  font-size:0.7em;
  margin-top:5px;
  text-align:center;
}
.btn-box{
  width:50px;
  position:relative;
  margin-left:15px;
  
}
.clickable{
  pointer-events: auto;
  cursor: pointer;
}

.unclickable{
  pointer-events:none;
}

.start, .strict{
  width:20px;
  height:20px;
  position:relative;
  margin:0px;
  margin:auto;
  text-align: center;
  top:-5px;
  border:solid 4px #444;
  border-radius:100%;
  box-shadow: 1px 2px 3px #222;
}
.start:active{
  box-shadow : 0 1px 1px #333;
    top : -4px;
}
.strict:active{
  box-shadow : 0 1px 1px #333;
  top : -4px;
}
.start{
  background-color: #FC0102;
}

.strict{
  background-color: yellow;
}

.led{
  width:6px;
  height:6px;
  position:absolute;
  background-color:#32050C;
  border-radius:100%;
  border:2px solid #222;
  top:-18px;
  left:19.5px
}

.led-off{
  color:#430710;
}

.led-on{
  background-color:#dc0d29;
}

.switchContainer{
  margin-top:10px;
}
.outer-switch{
  width:40px;
  height:20px;
  border-radius:2px;
  top:5px;
  background-color:black;
  cursor: pointer;
}

.inner-switch{
  width:16px;
  height:16px;
  border-radius:4px;
  background-color:#3193DE;
  border: 2px solid #333;
}
.switch-on{
  margin-left:20px;
}

.helper{
  width: 600px;
  height: 360px;
  border: solid 5px #01579B;
  border-radius: 15px;
  background-color: white;
  margin: 40px auto;
}
.lifes{
  border-radius: 10px 10px 0px 0px;
  padding: 20px 20px 5px 20px;
  background-color: #B2EBF2;
}
.userLife{
  font-size: 25px;
  margin-right: 10px;
  font-family: 'Press Start 2P', monospace;
}
.instr{
  margin-left: 25px;
  margin-right: 25px;
}
.how{
  margin-top: 15px;
  font-size: 25px;
  font-family: 'Fascinate Inline';
  color: #1A237E;
}
.p1, .uL{
  margin-top: -5px;
  font-size: 19px;
  font-family: 'Kanit';
  line-height: 1.3;
}
.tryIt{
  font-family: "Macondo";
  text-align: center;
  font-size: 30px;
  line-height: 0.6;
  color: #D500F9;
}
#heart1{
  font-size: 40px;
  color: red;  
}
.emptyHeart{
  font-size: 40px;
  opacity: 0; 
}
#heart2{
  position: absolute;
  font-size: 42px;
  color: black;
  margin-left: -40px;
  margin-top: -1px;
}
